<div class="reservation-card">
    <img src="./assets/individual.png" alt="Imagem do Quarto" class="room-image">
    <div class="reservation-info">
        <div class="reservation-details">
            <h3>Quarto Single</h3>
            <p>Cliente: Carlos Matheus</p>
            <p>Check-In: 24/11/2023</p>
            <p>Check-Out: 28/11/2023</p>
        </div>
        <div class="reservation-status">
            <span class="status">Finalizada</span>
        </div>
        <div class="reservation-action">
            <button class="view-more">Ver Mais</button>
        </div>
    </div>
</div>
