.login-page {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/path/to/your/background-image.jpg');
    background-color: #ecf0f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

.login-form {
    background: #ecf0f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-img {
    width: 200px;
    height: auto;
}

.login-form h2 {
    color: #31344b;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    color: #31344b;
    margin: 10px 0 5px;
    width: 90%;
    text-align: left;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ceced1;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.login-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    margin: 5px;
}

.login-form button:hover {
    background-color: #2980b9;
}

.login-form .back-button {
    background-color: #e46c68;
}

.login-form .back-button:hover {
    background-color: #811814;
}

.button-group a {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.button-group a button {
    width: 100%;
}
