<div class="new-room-container">
    <!-- Formulário de Cadastro -->
    <div class="new-room-form-container" *ngIf="!isEditMode">
        <h2>Cadastrar Novo Quarto</h2>
        <form (ngSubmit)="onCreateRoom()">
            <div class="form-row">
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <select id="type" name="type" [(ngModel)]="newRoom.type" required>
                        <option value="single">Single</option>
                        <option value="double">Double</option>
                        <option value="suite">Suíte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacidade</label>
                    <input type="number" id="capacity" name="capacity" [(ngModel)]="newRoom.capacity" placeholder="Capacidade" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="floor">Andar</label>
                    <input type="number" id="floor" name="floor" [(ngModel)]="newRoom.floor" placeholder="Andar" required>
                </div>
                <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="number" id="price" name="price" [(ngModel)]="newRoom.price" placeholder="Preço" step="0.01" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group full-width">
                    <label for="description">Descrição</label>
                    <textarea id="description" name="description" [(ngModel)]="newRoom.description" placeholder="Descrição do quarto" rows="4" required></textarea>
                </div>
            </div>
            <div class="button-group">
                <button type="submit">Cadastrar</button>
                <button type="button" class="cancel-button" (click)="resetForm()">Cancelar</button>
            </div>
        </form>
    </div>

    <!-- Formulário de Edição -->
    <div class="new-room-form-container" *ngIf="isEditMode">
        <h2>Editar Quarto</h2>
        <form (ngSubmit)="onUpdateRoom()">
            <div class="form-row">
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <select id="type" name="type" [(ngModel)]="selectedRoom.type" required>
                        <option value="single">Single</option>
                        <option value="double">Double</option>
                        <option value="suite">Suíte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacidade</label>
                    <input type="number" id="capacity" name="capacity" [(ngModel)]="selectedRoom.capacity" placeholder="Capacidade" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="floor">Andar</label>
                    <input type="number" id="floor" name="floor" [(ngModel)]="selectedRoom.floor" placeholder="Andar" required>
                </div>
                <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="number" id="price" name="price" [(ngModel)]="selectedRoom.price" placeholder="Preço" step="0.01" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group full-width">
                    <label for="description">Descrição</label>
                    <textarea id="description" name="description" [(ngModel)]="selectedRoom.description" placeholder="Descrição do quarto" rows="4" required></textarea>
                </div>
            </div>
            <div class="form-group full-width image-upload-group">
                <label for="image-upload" class="image-upload-label">Escolher Imagem</label>
                <input type="file" id="image-upload" (change)="onFileSelected($event)" accept="image/*">
            </div>
            <div class="button-group">
                <button type="submit">Salvar</button>
                <button type="button" class="cancel-button" (click)="onCancelEdit()">Cancelar</button>
                <button type="button" (click)="onUploadImage()">Subir Imagem</button>
            </div>
        </form>
    </div>

    <div class="room-list-container">
        <h2>Lista de Quartos</h2>
        <ul class="room-list">
            <li class="room-item" *ngFor="let room of rooms">
                <input type="checkbox" class="ui-checkbox" [(ngModel)]="room.selected">
                Quarto {{ room.id }} - {{ room.type }} - Capacidade: {{ room.capacity }} - Andar: {{ room.floor }} - Preço: R${{ room.price }}
                <button class="edit-button" (click)="onEdit(room)"><i class="fas fa-edit"></i></button>
            </li>
        </ul>
        <div class="delete-button-container">
            <button type="button" class="delete-button" (click)="onDeleteRooms()">Excluir</button>
        </div>
    </div>
</div>
