.new-room-page {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/path/to/your/background-image.jpg');
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-room-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.new-room-form {
    background: #ecf0f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.new-room-form h2 {
    color: #31344b;
    margin-bottom: 20px;
}

.new-room-form label {
    display: block;
    color: #31344b;
    margin: 10px 0 5px;
    width: 100%;
    text-align: left;
}

.new-room-form input,
.new-room-form select,
.new-room-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ceced1;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    font-size: 16px;
}

.new-room-form textarea {
    resize: none;
}

.new-room-form input[type="file"] {
    display: block;
    margin-top: 5px;
}

.image-label {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.new-room-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    margin: 5px;
}

.new-room-form button:hover {
    background-color: #2980b9;
}

.new-room-form .cancel-button {
    background-color: #e46c68;
}

.new-room-form .cancel-button:hover {
    background-color: #811814;
}
