.new-hospitality-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.new-hospitality-form-container,
.hospitality-list-container {
    width: 48%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin: 10px;
    position: relative;
}

.new-hospitality-form-container h2,
.hospitality-list-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 48%;
}

.form-group.full-width {
    width: 100%;
}

.new-hospitality-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.new-hospitality-form-container select,
.new-hospitality-form-container input,
.new-hospitality-form-container textarea {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.new-hospitality-form-container .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.new-hospitality-form-container .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.new-hospitality-form-container .button-group .cancel-button {
    background-color: #e74c3c;
    color: #fff;
}

.new-hospitality-form-container .button-group .cancel-button:hover {
    background-color: #bb564b;
    transition: all 0.5s;
    transform: scale(0.98);
}

.new-hospitality-form-container .button-group button[type="submit"] {
    background-color: #3498db;
    color: #fff;
}

.new-hospitality-form-container .button-group button[type="submit"]:hover {
    background-color: #2980b9;
    transition: all 0.5s;
    transform: scale(0.98);
}

.hospitality-list-container {
    width: 48%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

.hospitality-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 250px;
    flex-grow: 1;
}

.hospitality-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 16px;
    position: relative;
}

.hospitality-item:last-child {
    border-bottom: none;
}

.edit-button {
    background-color: transparent;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 10px;
}

.edit-button:hover {
    color: #2980b9;
}

.edit-button i {
    font-size: 18px;
}

.delete-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete-button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #bb564b;
    transition: all 0.5s;
    transform: scale(0.98);
}

.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    --checkmark-size: 1.2;
    margin-right: 13px;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
    box-sizing: border-box;
}

.ui-checkbox {
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    transition: none;
    box-shadow: none;
    opacity: 1;
}
