<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<div *ngIf="!isLandingPage() && !isLoginPage() && !isRegisterPage()">
<div class="container">
  <div class="side_bar">
    <div class="title">
      <div class="logo">
        <img src="./assets/logo.png" alt="Logo" class="logo-img">
      </div>
    </div>
    <ul>
      <li><a [routerLink]="['newReserve']" routerLinkActive="router-link-active"><i class="fas fa-qrcode"></i>Visualizar Quartos</a></li>
      <li><a [routerLink]="['myReserve']" routerLinkActive="router-link-active"><i class="fas fa-solid fa-calendar"></i>Minhas Reservas</a></li>
      <li><a [routerLink]="['newRoom']" routerLinkActive="router-link-active"><i class="fas fa-solid fa-plus"></i>Cadastrar Quarto</a></li>
      <li><a [routerLink]="['newService']" routerLinkActive="router-link-active"><i class="fas fa-solid fa-plus"></i>Cadastrar Serviço</a></li>
      <li><a><i class="fas fa-question-circle"></i>Check-in</a></li>
      <li><a><i class="fas fa-sliders-h"></i>Services</a></li>
      <li><a><i class="fas fa-phone-volume"></i>Contact</a></li>
      <li><a [routerLink]="['']" routerLinkActive="router-link-active"><i class="fas fa-solid fa-backward"></i>Sair</a></li>
    </ul>
    <div class="media_icons">
      <a><i class="fas fa-solid fa-user" style="color: #1f1e1e;"></i></a>
    </div>
  </div>
  
  <div class="main_content">
    <router-outlet></router-outlet>
  </div>
</div>
</div>

<div *ngIf="isLandingPage() || isLoginPage() || isRegisterPage()">
<router-outlet></router-outlet>
</div>