.register-page {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ecf0f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.register-form {
    background: #ecf0f3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.logo-img {
    width: 200px;
    height: auto;
}

.register-form h2 {
    color: #31344b;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.form-field {
    flex: 1;
    min-width: calc(33.33% - 20px);
}

.form-field label {
    color: #31344b;
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

.form-field input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ceced1;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
    font-size: 16px;
}

.form-group.phone-group {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.phone-group .form-field {
    min-width: auto;
    flex: none;
    position: relative;
}

#ddi, #ddd {
    width: 50px;
    flex: none;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 25px;
}

.error-message.below {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.register-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.register-form button:hover {
    background-color: #2980b9;
    transition: all 0.5s;
    transform: scale(0.98);
}

.register-form .back-button {
    background-color: #e46c68;
}

.register-form .back-button:hover {
    background-color: #811814;
    transition: all 0.5s;
    transform: scale(0.98);
}

.button-group a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button-group a button {
    width: 100%;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
    color: #31344b;
    text-align: center;
}

.register-text .register-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.register-text .register-link:hover {
    color: #2980b9;
}

@media (max-width: 768px) {
    .register-form {
        padding: 30px;
    }

    .form-group {
        flex-direction: column;
        gap: 10px;
    }

    .form-field {
        min-width: 100%;
    }
    
    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .register-form {
        padding: 20px;
    }

    .logo-img {
        width: 150px;
    }

    .register-form button {
        width: 100%;
    }

    .button-group a {
        width: 100%;
    }
}
